<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruha.mapper.MemberMapper">

    <!-- 회원 등록 -->
    <insert id="insertMember" parameterType="com.ruha.entity.InsertMemberDto">
        INSERT INTO MEMBER (email, password, name, created, updated)
        VALUES (#{email}, #{password}, #{name}, NOW(), NOW());
    </insert>

    <!-- 전체 조회 -->
    <select id="findAll" resultType="com.ruha.dto.CreateMemberRequest">
        SELECT * FROM member
    </select>


</mapper>
